body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #ffffff;
    font-family: Corbel, sans-serif;
    background-color: #000000;
}

video {
    display: block;
    height: 100%;
}

div#outerBlock {
    position: absolute;
    height: 50%;
    width: 70%;
    border: 2px #ffffff solid;
    padding: 5%;
}

div.content {
    height: 95%;
    display: flex;
}

div#photo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("media/img/1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
}

@keyframes light {
from {text-shadow: 0 0 3px #ffffff, 0 0 3px #ffffff;}
50% {text-shadow: 0 0 20px #ffffff, 0 0 3px #ffffff;}
to {text-shadow: 0 0 3px #ffffff, 0 0 3px #ffffff;}
}

div#text {
    width: 50%;
    padding: 0 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: light 5s linear infinite;
    font-size: calc(1.2vh + 0.6vw);
    line-height: 4vh;
}

audio {
    display: block;
    width: 100%;
    height: 5%;
}

@media (max-width: 800px) {
    div#outerBlock {
        height: 80%;
    }

    div.content {
        display: block;
    }

    div#photo {
        width: 100%;
        height: 40%;
    }

    div#text {
        width: 100%;
        height: 50%;
        padding: 5% 0;
        font-size: calc(0.8vh + 2vw);
    }
}